{% extends "base.html" %}

{% block content %}
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

<div class="card h-100">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h2 class="card-title">Sensor Map</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="map"></div>
                </div>
              </div>
            </div>

    <!--The div element for the map -->

    <script>
// Initialize and add the map
function initMap() {
  /* Data points defined as a mixture of WeightedLocation and LatLng objects */
var heatMapData = [
    {% for probe in probes[1:] %}
  {location: new google.maps.LatLng({{ probe[2] }}, {{ probe[3] }}), weight: {{ probe[4] }}},
  {% endfor %}
];

var sydney = new google.maps.LatLng(-33.865143, 151.209900);

map = new google.maps.Map(document.getElementById('map'), {
  center: sydney,
  zoom: 13,
  mapTypeId: 'satellite'
});

var heatmap = new google.maps.visualization.HeatmapLayer({
  data: heatMapData,
  radius: 30
});
heatmap.setMap(map);
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ilEmyVW8DkYKY6X2G3WZ4eCdjo5zmAE&callback=initMap&libraries=visualization">
    </script>

{% endblock %}