{% extends "base.html" %}

{% block content %}
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

<div class="card h-100">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h2 class="card-title">Sensor Map</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="map"></div>
                </div>
              </div>
            </div>
<div class="row">
{% for i in range(0,sensors|length) %}
    <div class="col-lg-2 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/'+sensors[i][0][1]+'.jpg') }}" alt="Max-width 75%">
            <div class="card-body">
            <h2 class="card-title">{{ sensors[i][0][1] }}</h2>
            <p class="card-text">Timestamp: {{ sensors[i][0][5].strftime("%Y-%m-%d %H:%M:%S") }}</p>
            <p class="card-text">Temperature: {{ sensors[i][0][2] }}</p>
            <p class="card-text">Humidity: {{ sensors[i][0][3] }}</p>
            <p class="card-text">Pressure: {{ sensors[i][0][4] }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
    <!--The div element for the map -->
<script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: -33.86785, lng: 151.20732}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = [{% for probe in probes %}'{{ probe[0] }}',{% endfor %},]
        // Add some markers to the map.

        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[ i % labels.length ]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

      var locations = [
        {% for probe in probes %}
            {lat: {{ probe[1] }}, lng: {{ probe[2] }}},
        {% endfor %}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>
{% endblock %}
