{% extends "base.html" %}
{% block head%}<meta http-equiv="refresh" content="5">{% endblock %}
{% block content %}
<div class="card h-100">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h2 class="card-title">Sensor Realtime Data</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Date</th>
            <th>Time</th>
            <th>Probe</th>
            <th class="text-right">Temperature</th>
            <th class="text-right">Humidity</th>
            <th class="text-right">Pressure</th>
        </tr>
    </thead>
    <tbody>
        {% for sense in sensor %}
        <tr>
            <td class="text-center">{{ sense[0][0] }}</td>
            <td>{{ sense[0][5].strftime("%Y-%m-%d") }}</td>
            <td>{{ sense[0][5].strftime("%H:%M:%S") }}</td>
            <td>{{ sense[0][1] }}</td>
            <td class="text-right">{{ sense[0][2] }}</td>
            <td class="text-right">{{ sense[0][3] }}</td>
            <td class="text-right">{{ sense[0][4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>

{% endblock %}